/*---------MEDIA QUERIES------------*/

/* for large screen sm(640px) */
@media (min-width:640px){
    .container{
        max-width: 640px;
    }

    .sm-text-xl{
        font-size: 3em;
    }

    .sm-px-10{
        padding-left: 3.5rem;
        padding-right: 3.5rem;
    }

}

/* for large screen md(768px) */
@media (min-width:768px){
    .container{
        max-width: 768px;
    }

    .md-text-left{
        text-align: left;
    }

    .md-mx-initial{
        margin: initial;
    }

    .md-cols-2{
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .md-text-dark{
        color: var(--text-dark);
    }
}

/* for large screen lg(1024px) */
@media (min-width:1024px){
    .container{
        max-width: 1024px;
    }

    #nav .toggle-btn > button{
        display: none;
    }

    #nav{
        flex-direction: row !important;
        padding-left: 6rem !important;
        padding-right: 6rem !important;
    }

    .collapse{
        max-height: initial !important;
    }

    .collapse ul{
        flex-direction: row !important;
    }

    .active{
        max-height: 100% !important;
    }

    .lg-cols-2{
        grid-template-columns: repeat(2,minmax(0,1fr));
    }

    .lg-cols-3{
        grid-template-columns: repeat(3,minmax(0,1fr));
    }

    .lg-cols-4{
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }

}

/* for large screen xl(1280px) */
@media (min-width:1280px){
    .container{
        max-width: 1280px;
    }

    #nav{
        background: transparent !important;
    }

    #nav .flex-initial ul button{
        display: inline-block !important;
    }
}